#!/bin/sh

set -e

# XXX Note when updating to also update
# debian/flashplugin-installer.postinst and debian/post-download-hook
FLASH_VERSION=20190611.1
FILENAME=adobe-flashplugin_${FLASH_VERSION}.orig.tar.gz
SHA256SUM_TGZ="e7ebc94941e61c9561571ad123562bc1120ad5637351d786d4e9abd8e9dafea6"

. /usr/share/debconf/confmodule

while true; do
	db_input medium flashplugin-installer/local || true
	db_go
	db_get flashplugin-installer/local
	if [ -n "$RET" ] && [ -d "$RET" ] && [ -f "$RET/$FILENAME" ] \
	   && echo "$SHA256SUM_TGZ  $RET/$FILENAME" | sha256sum -c > /dev/null 2>&1
	then
		break
	elif [ "x$RET" = "x" ]; then
		break
	fi
	db_reset flashplugin-installer/not_exist || true
	db_reset flashplugin-installer/local || true
	db_input medium flashplugin-installer/not_exist || true
	db_go
done
